<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Gallery</title>
    <!-- Add Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- todo add stylesheet -->
</head>
<body>
 
    <%- include('partials/navbar')%>

    <!-- <div>
    <div> -->
    <!-- EJS is expecting a object cats, sent from catControllers, and then loop through each one -->
    <% cats.forEach(cat => { %>
        <div>
            <div>
                <img src="/images/<%= cat.image %>" alt="cat image">
            </div>
            <h5><%= cat.name %></h5>
            <p>
                Age: <%= cat.age %> <br>
                Favorite Food: <%= cat.favoriteFood %> <br>
                Fun fact: <%= cat.funFact %>
            </p>
        </div>    
        <div> 
            <a href = "/edit/<%= cat._id%>">Edit</a>
            <form action="/delete/<%= cat._id%>"
            method = "POST">
            <button type="submit">Delete</button>
            </form>
        </div>
     <% }); %> <!-- Add this closing tag for the forEach loop -->
    <!-- </div>
    </div> -->
</body>
</html>